<header class="main">
    <a href="{{@blog.url}}"><img class="blog-logo" src="{{@blog.logo}}" /></a>
    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h3 class="blog-description">{{@blog.description}}</h3>
</header>
